# Ceci est un notebook pour la visualisation préliminaire des données du projet

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio

In [4]:
#importer tous les fichiers csv du dossier transactions-ser avec pandas et les concatener dans un seul fichier pickle
def import_csv():
    import glob
    import os
    import pickle
    path = r'./transactions-ser'
    all_files = glob.glob(os.path.join(path, "*.csv"))
    df_from_each_file = (pd.read_csv(f, sep=';') for f in all_files)
    df = pd.concat(df_from_each_file, ignore_index=True)
    df.to_pickle("transaction_ser.pkl")
    return df

In [5]:
import_csv()

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude,section_prefixe
0,2022-360376,2022-05-16,1,Vente,170000.0,6.0,None,PL DE L EGLISE,730,76800,...,80.0,4.0,S,sols,None,None,319.0,1.106595,49.382037,000AZ
1,2022-360376,2022-05-16,1,Vente,170000.0,37.0,None,RUE GAMBETTA,974,76800,...,NaN,NaN,S,sols,None,None,234.0,1.106238,49.382039,000AZ
2,2021-1184802,2021-11-10,1,Vente,107000.0,39.0,None,RUE GAMBETTA,974,76800,...,80.0,4.0,S,sols,None,None,38.0,1.106127,49.382122,000AZ
3,2021-1184802,2021-11-10,1,Vente,107000.0,39.0,None,RUE GAMBETTA,974,76800,...,NaN,0.0,S,sols,None,None,38.0,1.106127,49.382122,000AZ
4,2021-1184802,2021-11-10,1,Vente,107000.0,37.0,None,RUE GAMBETTA,974,76800,...,NaN,NaN,S,sols,None,None,234.0,1.106238,49.382039,000AZ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2967,2017-543786,2017-08-28,1,Vente,65000.0,4.0,None,RUE DE FORT DE VAUX,910,76800,...,32.0,2.0,S,sols,None,None,268.0,1.107607,49.374767,000AT
2968,2017-543907,2017-08-25,1,Vente,181400.0,19.0,None,RUE DE LORRAINE,1510,76800,...,130.0,6.0,S,sols,None,None,401.0,1.100599,49.373885,000AT
2969,2017-543907,2017-08-25,1,Vente,181400.0,19.0,None,RUE DE LORRAINE,1510,76800,...,NaN,NaN,J,jardins,POTAG,Jardin potager,89.0,1.100471,49.373929,000AT
2970,2017-543682,2017-08-21,1,Vente,199000.0,29.0,None,CHE DU BON CLOS,300,76800,...,118.0,5.0,S,sols,None,None,362.0,1.100397,49.374971,000AT
2971,2017-542967,2017-07-10,1,Vente,196500.0,2.0,None,RUE EMILE ZOLA,750,76800,...,118.0,5.0,S,sols,None,None,714.0,1.100223,49.373475,000AT

## Données qui semblent utiles :
-- surface réelle du bien

-- surface réelle du terrain

-- nombre de pièces

-- localisation (adresse + code postal ou latitude/longitude ?)


## Pour l'entrainement :
-- prix du bien

-- type de bien

--date d'achat

In [10]:
new_ds = pd.read_pickle("transaction_ser.pkl")

#supprimer les colonnes inutiles
new_ds = new_ds[['date_mutation', 'valeur_fonciere']]
new_ds = new_ds.dropna()
print(new_ds)

#faire une regression lineaire
def regression_lineaire():
    x = new_ds['date_mutation']
    #convert date to an int value, with the first day = 1
    x = x.apply(lambda x: (x - x.min()).days + 1)
    print(x)

    y = new_ds['valeur_fonciere']
    z = np.polyfit(x, y, 1)
    p = np.poly1d(z)
    return p

regression_lineaire()

#afficher la regression lineaire
def afficher_regression_lineaire():
    fig = px.scatter(new_ds, x='date_mutation', y='valeur_fonciere', trendline='ols')
    fig.show()

afficher_regression_lineaire()

     date_mutation  valeur_fonciere
0       2022-05-16         170000.0
1       2022-05-16         170000.0
2       2021-11-10         107000.0
3       2021-11-10         107000.0
4       2021-11-10         107000.0
...            ...              ...
2967    2017-08-28          65000.0
2968    2017-08-25         181400.0
2969    2017-08-25         181400.0
2970    2017-08-21         199000.0
2971    2017-07-10         196500.0

[2922 rows x 2 columns]

AttributeError: 'str' object has no attribute 'min'